* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

body {
    background: linear-gradient(to top, #00060D, #171A20);
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#foto-perfil img {
    border-radius: 50%;
    width: 250px;
    margin-bottom: 10px;
}

#sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#about {
    margin-top: 10px;
}

#links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#linkedin {
    width: 350px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid grey;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
}

#instagram {
    width: 350px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid grey;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
}

#github {
    width: 350px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid grey;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
}    

#linkedin:hover {
    background-color: #05324b;
    border-color: #05324b;
}

#instagram:hover {
    background-color: #b9154c;
    border-color: #b9154c;
}

#github:hover {
    background-color: #25863c;
    border-color: #25863c;
}

@media screen and (max-width: 762px) {
    #about p {
        text-align: center;
        margin: 0px 5px;
    }
}
