* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
}

body {
    background: linear-gradient(to top, #00060D, #171A20);
    color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#foto-perfil img {
    border-radius: 50%;
    width: 250px;
    margin-bottom: 10px;
}

#sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#about {
    margin-top: 10px;
}

#links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#linkedin {
    width: 350px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid grey;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
}

#instagram {
    width: 350px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid grey;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
}

#github {
    width: 350px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid grey;
    padding: 10px;
    transition: 1s;
    border-radius: 5px;
}    

#linkedin:hover {
    background-color: #05324b;
    border-color: #05324b;
}

#instagram:hover {
    background-color: #b9154c;
    border-color: #b9154c;
}

#github:hover {
    background-color: #25863c;
    border-color: #25863c;
}

@media screen and (max-width: 1300px) {

    #foto-perfil img {
        width: 300px;
    }

    #sobre-mim {
        font-size: 25px;
    }

    #about p {
        font-size: 22px;
        text-align: center;
        margin: 0px 10px;
    }

    a {
        font-size: 25px;
    }

    #instagram,
    #linkedin,
    #github {
        width: 750px;
    }
}


@media screen and (max-width: 1050px) {
    #foto-perfil img {
        width: 500px;
    }

    #sobre-mim {
        font-size: 32px;
    }

    #about p {
        font-size: 30px;
        text-align: center;
        margin: 0px 10px;
    }

    a {
        font-size: 30px;
    }

    #instagram,
    #linkedin,
    #github {
        width: 750px;
    }
}


@media screen and (max-width: 770px) {
    #about p {
        text-align: center;
        margin: 0px 10px;
    }

    #instagram,
    #linkedin,
    #github {
        width: 600px;
    }
}

@media screen and (max-width: 550px) {
    #foto-perfil img {
        width: 350px;
    }

    #sobre-mim {
        font-size: 20px;
    }

    #about p {
        font-size: 20px;
        text-align: center;
        margin: 0px 10px;
    }

    #instagram,
    #linkedin,
    #github {
        width: 300px;
    }

    a {
        font-size: 22px;
    }

}

@media screen and (max-width: 375px) {
    #foto-perfil img {
        width: 250px;
    }

    #sobre-mim {
        font-size: 17px;
    }

    #instagram,
    #linkedin,
    #github {
        width: 200px;
    }

    a {
        font-size: 16px;
    }
}

@media screen and (max-width: 290px) {

    #sobre-mim {
        text-align: center;
    }
}



